/* DT styles. */

.DT {
  margin: 10px 0 0 0;
  border-top: 1px dotted;
  padding: 0;
  xborder: 1px solid #00f;
  background: #dfd;
}

.DT ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 12px;
}

.DT ul li {
  margin: 2px 0 2px 0;
}

.DT a {
  text-decoration: none;
  color: Black;
  background: #edd;
  padding: 0 2px 0 2px;
}
